*~
*.pyc
*#
.#*
*.pkl
*.zip
*.bak
*.bag
*.py~
frames.pdf
frames.gv
*.jpeg
.env
.venv
team_2/detections/*
team_2/debug/*
# ROS specific files and folders #
##################################
build
devel
install
log
.rosinstall
.catkin_tools
.catkin_workspace
src/CMakeLists.txt
logs
__pycache__

# specific repo
###############
